body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background: linear-gradient(135deg, #830749, #e256ad, #efc2eb);
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: auto;
    width: 100%;
    align-items: center;
    gap: 20px; 
}

#title {
    text-align: center;
    grid-area: 1/1/1/4;
    background-color: #3d0ae6; 
    color: #ffffff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#Develop, #Analyse, #Share, #Banking, #Cards, #Shopping {
    background-color: #f3f3f3;
    color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Develop:hover, #Analyse:hover, #Share:hover, #Banking:hover, #Cards:hover, #Shopping:hover {
    background-color: #3d0ae6; 
    color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
    cursor: pointer;
}

#Develop:active, #Analyse:active, #Share:active, #Banking:active, #Cards:active, #Shopping:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#footer {
    text-align: center;
    grid-area: 4/1/4/4;
    background-color: #3d0ae6;
    color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
